@import './ColorsAndDesign.scss';



/*#region Headline Section */

.headline_section {
    display: flex;
    padding-inline: 1rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.devlogo_wrapper {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
}


.page_title {
    color: $counter-colour;
    margin-left: auto;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding-right: 1rem;
    font-size: 4rem;
    font-weight: bold;
}



//? Headline-Logo
.devlogo_wrapper {
    position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
    content: "";
    border: solid 2px $wkd-grey;
    position: absolute;
    transition: all 2s ease;
    left: -.5rem;
    bottom: -.5rem;
}

.devlogo_wrapper::before {
    height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
    width: 2rem;
}

.headline_section:hover .devlogo_wrapper::before {
    height: 3rem;
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .devlogo_wrapper::after {
    width: 3rem;
    border-color: $wkd-pinkviolett;
}


//? Headline-Logo
.devlogo_wrapper {
    position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
    content: "";
    border: solid 2px $wkd-grey;
    position: absolute;
    transition: all 2s ease;
    left: -.5rem;
    bottom: -.5rem;
}

.devlogo_wrapper::before {
    height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
    width: 2rem;
}

.headline_section:hover .devlogo_wrapper::before {
    height: 3rem;
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .devlogo_wrapper::after {
    width: 3rem;
    border-color: $wkd-pinkviolett;
}


//? Headline-Text
.page_title {
    position: relative;
}

.page_title::before,
.page_title::after {
    content: "";
    border: solid 2px $wkd-grey;
    position: absolute;
    transition: all 2s ease;
    bottom: -.5rem;
    right: -.5rem;
}

.page_title::before {
    height: calc(2rem);
}

.page_title::after {
    width: 50%;
}

.headline_section:hover .page_title::before {
    height: calc(100% + 1rem);
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .page_title::after {
    width: 2rem;
    border-color: $wkd-pinkviolett;
}


/*#endregion*/



.intro {
    padding: 1rem;
    text-align: center;
    > a {
        text-decoration: none;
        color: $wkd-orange;
    }
}



/*#region Projects Section */

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > .project_container {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center;

        > .project_text_wrapper {
            width: $text-optimal-width;
            padding: 1rem;

            > h2 {
                color: $wkd-orange;
                font-weight: bold;
            }

            > p {
                margin-left: 2rem;
            }

            > a {
                text-decoration: none;
                color: $wkd-orange;
                text-align: center;
            }
        }

        > .project_img_wrapper {
            padding: 1rem;
             width: 40%;
        }
    }

}


/*#endregion*/
_l
.etch_a_l,
.fourwins_a_l,
.tictactoe_a_l,
.rps_a_l,
.mmcardgame_l {
    transition: transform 1s ease;
}


.etch_a_l:hover,
.fourwins_a_l:hover,
.tictactoe_a_l:hover,
.rps_a_l:hover,
.mmcardgame_l:hover {
    cursor: pointer;
    color: $wkd-orange;
    transform: scale(1.3);
}



/*#region Transitions */


//? Devlogo transition

.devlogo {
    transition: all 1s ease;
}
  
.devlogo_wrapper:hover .devlogo {
    filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

//? Projects blur transition
.project_etch,
.project_fourwins,
.project_tictactoe,
.project_rps {
    filter: blur(1rem);
    transition: all 500ms;
}

.project_etch:hover,
.project_fourwins:hover,
.project_tictactoe:hover,
.project_rps:hover {
    filter: blur(0);
}

/*#endregion*/



/*#region Animations*/

//? Red colour animations

.project_etch:hover .etch_a > h3,
.project_tictactoe:hover .tictactoe_a > h3 {
    animation: a_red_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes a_red_animation {
    50% {
        transform: scale(1.5);
        color: $wkd-red;
    }
}

.project_etch:hover .project_text_wrapper > .project_h2,
.project_tictactoe:hover .project_text_wrapper > .project_h2 {
    animation: h3_red_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes h3_red_animation {
    50% {
       color: $wkd-red;
    }
}


//? Blue colour animations

.project_fourwins:hover .fourwins_a > h3,
.project_mmcardgame:hover .mmcardgame > h3 {
    animation: a_blue_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes a_blue_animation {
    50% {
        transform: scale(1.5);
        color: $wkd-intense-blue;
    }
}

.project_fourwins:hover .project_text_wrapper > .project_h2,
.project.project_mmcardgame:hover .project_text_wrapper > .project_h2  {
    animation: h3_blue_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes h3_blue_animation {
    50% {
       color: $wkd-intense-blue;
    }
}

//? White colour animations

.project_rps:hover .rps_a > h3 {
    animation: a_white_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes a_white_animation {
    50% {
        transform: scale(1.5);
        color: $wkd-white;
    }
}

.project_rps:hover .project_text_wrapper > .project_h2 {
    animation: h3_white_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes h3_white_animation {
    50% {
       color: $wkd-white;
    }
}

/*#endregion */

