/* ==================  
?    ===  Colour-Palette  ===
.     ================== */
/* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
/* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
/*? === design === */
/*? === text === */
/* futura: font-family: futura-pt,sans-serif; */
@import url("https://use.typekit.net/izw3hmc.css");
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 0.5rem;
}
.main > h1 {
  margin-block: 2rem;
  font-size: 4rem;
  font-weight: bold;
}
.main > .social_media_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}
.main > .social_media_section > .social_media_container {
  display: flex;
  gap: 0.5rem;
}
.main > .social_media_section > .social_media_container > .social_media_logo_wrapper {
  width: 3rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.main > .social_media_section > .social_media_container > .social_media_logo_wrapper:hover {
  transform: scale(1.3);
  margin-left: 1rem;
  margin-right: 1rem;
}
.main > .send_email_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-top: solid 2px rgb(107, 106, 106);
}
.main > .send_email_section > .send_email_form_wrapper {
  width: fit-content;
}

/*#region Transitions, Animations, Pseudoelements */
.contact_headline {
  color: rgb(255, 102, 0);
  position: relative;
  animation: contact_headline_animation 20s ease-in-out infinite;
}

.contact_headline::before {
  content: "";
  border: solid 2px rgb(255, 102, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  animation: contact_headline_animation 20s ease-in-out infinite;
}

@keyframes contact_headline_animation {
  0% {
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
  }
  33% {
    border-color: rgb(107, 106, 106);
    color: rgb(107, 106, 106);
  }
  66% {
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
  }
}
.social_media_section {
  transition: all 0.5s ease-in-out;
}

.social_media_section:hover {
  transform: scale(1.5);
  animation: social_media_animation infinite 20s ease-in-out;
}

@keyframes social_media_animation {
  0% {
    color: rgb(255, 102, 0);
  }
  33% {
    color: rgb(107, 106, 106);
  }
  66% {
    color: rgb(255, 0, 255);
  }
}
.send_email_section > h2 {
  transition: transform 0.5s;
}

.send_email_section:hover > h2 {
  color: rgb(255, 102, 0);
  transform: scale(1.3);
}

/*#endregion*/
/*#region Headline Section */
.headline_section {
  display: flex;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.devlogo_wrapper {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.page_title {
  color: rgb(255, 102, 0);
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.devlogo_wrapper {
  position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  left: -0.5rem;
  bottom: -0.5rem;
}

.devlogo_wrapper::before {
  height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
  width: 2rem;
}

.headline_section:hover .devlogo_wrapper::before {
  height: 3rem;
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .devlogo_wrapper::after {
  width: 3rem;
  border-color: rgb(255, 0, 255);
}

.devlogo_wrapper {
  position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  left: -0.5rem;
  bottom: -0.5rem;
}

.devlogo_wrapper::before {
  height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
  width: 2rem;
}

.devlogo {
  width: fit-content;
  height: fit-content;
}

.headline_section:hover .devlogo_wrapper::before {
  height: 3rem;
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .devlogo_wrapper::after {
  width: 3rem;
  border-color: rgb(255, 0, 255);
}

.page_title {
  position: relative;
}

.page_title::before,
.page_title::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  bottom: -0.5rem;
  right: -0.5rem;
}

.page_title::before {
  height: 2rem;
}

.page_title::after {
  width: 50%;
}

.headline_section:hover .page_title::before {
  height: calc(100% + 1rem);
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .page_title::after {
  width: 2rem;
  border-color: rgb(255, 0, 255);
}

.devlogo {
  transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

.devlogo and body:not(.noanimations) {
  transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/*# sourceMappingURL=Contact.module.css.map */
