/*#region Settings */
/*? === colours === */
/* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
/* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
/*? === design === */
/*? === text === */
/*#endregion */
.main {
  padding: .5rem 1rem 0rem 1rem; }

/*#region HEADLINE Section */
.headline_section {
  display: flex; }

.devlogo_wrapper {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: .5rem;
  margin-bottom: .5rem; }

.page_title {
  color: #ff6600;
  margin-left: auto;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding-right: 1rem;
  font-size: 4rem;
  font-weight: bold; }

/*#endregion*/
/*#region Introduction Section */
.introduction_section {
  margin-top: 3rem;
  display: flex;
  gap: 2rem; }

.introduction_headline {
  color: #ff6600; }

.introduction_img_wrapper {
  display: flex;
  align-items: center;
  max-width: 30%;
  aspect-ratio: 1/1;
  margin-left: auto; }

.introduction_img {
  border-radius: 3rem; }

.introduction_text_wrapper {
  width: 40vw;
  margin-right: auto; }
  .introduction_text_wrapper > h3 {
    font-weight: bold; }
  .introduction_text_wrapper > p {
    width: clamp(45ch, 50%, 75ch);
    padding-left: 3rem; }

.introduction_text_statement {
  text-align: center; }

/*#endregion*/
/*#region Transitions & Animations */
.devlogo {
  transition: all 1s ease; }

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); }

.introduction_img_wrapper {
  will-change: filter;
  filter: drop-shadow(-1rem 1rem 2rem white); }

.introduction_img_wrapper:hover:not(.no_animations
) {
  animation: intro_img_animation  infinite 10s; }

@keyframes intro_img_animation {
  0% {
    filter: drop-shadow(-1rem 1rem 2rem white); }
  25% {
    filter: drop-shadow(-1rem -1rem 2rem #ff6600); }
  50% {
    filter: drop-shadow(1rem -1rem 2rem magenta); }
  75% {
    filter: drop-shadow(1rem 1rem 2rem #ff6600); } }

.introduction_first_h3,
.introduction_first_p,
.introduction_second_h3,
.introduction_second_p,
.introduction_text_statement {
  transition: color .5s; }

.introduction_first_h3:hover,
.introduction_first_p:hover,
.introduction_second_h3:hover,
.introduction_second_p:hover,
.introduction_text_statement:hover {
  color: #ff6600; }

/*#endregion*/
/*#region Styling-Pseudoelements */
.devlogo_wrapper {
  position: relative; }

.devlogo_wrapper::before,
.devlogo_wrapper::after {
  content: "";
  border: solid 2px #6b6a6a;
  position: absolute;
  transition: all 2s ease;
  left: -.5rem;
  bottom: -.5rem; }

.devlogo_wrapper::before {
  height: calc(100% + 1rem); }

.devlogo_wrapper::after {
  width: 2rem; }

.headline_section:hover .devlogo_wrapper::before {
  height: 3rem;
  border-color: magenta; }

.headline_section:hover .devlogo_wrapper::after {
  width: 3rem;
  border-color: magenta; }

.page_title {
  position: relative; }

.page_title::before,
.page_title::after {
  content: "";
  border: solid 2px #6b6a6a;
  position: absolute;
  transition: all 2s ease;
  bottom: -.5rem;
  right: -.5rem; }

.page_title::before {
  height: calc(2rem); }

.page_title::after {
  width: 50%; }

.headline_section:hover .page_title::before {
  height: calc(100% + 1rem);
  border-color: magenta; }

.headline_section:hover .page_title::after {
  width: 2rem;
  border-color: magenta; }

.introduction_section {
  position: relative; }

.introduction_section::before {
  content: "";
  border: solid 2px #6b6a6a;
  position: absolute;
  transition: all 2s ease;
  right: 0;
  top: -3rem;
  height: calc(100% + 3rem); }

.introduction_section:hover::before {
  border-color: magenta;
  top: -.5rem;
  height: calc(100% + .5rem); }

.introduction_text_wrapper {
  position: relative; }

.introduction_text_wrapper::before,
.introduction_text_wrapper::after {
  content: "";
  border: solid 2px #6b6a6a;
  position: absolute;
  transition: all 1s ease; }

.introduction_text_wrapper::before {
  left: -1.5rem;
  top: -.5rem;
  width: 2rem; }

.introduction_text_wrapper::after {
  left: -1rem;
  top: -1rem;
  height: 2rem; }

.introduction_text_wrapper:hover::before {
  width: 2.5rem;
  border-color: magenta; }

.introduction_text_wrapper:hover::after {
  left: -1.5rem;
  top: -.5rem;
  height: 2.5rem;
  border-color: magenta; }

/*#endregion*/
.CLASS {
  position: relative; }

.CLASS::after {
  content: "";
  border: solid 2px #6b6a6a;
  position: absolute;
  transition: all 2s ease;
  left: 1rem;
  bottom: 0;
  width: calc(100% - 2rem); }

.CLASS:hover::after {
  left: 25%;
  width: 50%;
  border-color: magenta; }
